.carousel-item {
    /* height: 100vh; */
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.container-order{
    text-align: center;
}
  
  .order-button{
      font-size: 30px;
      width: 30vw;
      height:90px;
      margin: 20px auto;
  }

  .order-button a{
text-decoration: none;
color: white;
}